[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
pydantic = "*"
sqlalchemy = "*"
boto3 = "*"
httpx = "*"
pymysql = "*"

[dev-packages]
black = "*"
pytest = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
flake8-bandit = "*"
editorconfig-checker = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"

[scripts]
unittest = "pytest --no-cov"
coverage = "pytest --cov-report=term"
lint = "bash -c 'flake8 app && ec'"
format = "bash -c 'isort app tests && black app tests'"
checkformat = "bash -c 'isort app tests --check && black app tests --check'"
